{% extends 'base.html.twig' %}

{% block title %}Password | {{ accessing_product_name }}{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="h4">Change password</h1>
                    {{ form_start(form) }}
                        {{ form_row(form.currentPassword) }}
                        {{ form_row(form.newPassword) }}
                        <button class="btn btn-primary">Update password</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
