{% extends 'base.html.twig' %}

{% block title %}{{ accessing_product_name }} · Reset password{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h1 class="h4 mb-3">Reset password</h1>
                    <p class="text-secondary">Request a reset link for an existing account.</p>
                    {{ form_start(request_form) }}
                        {{ form_row(request_form.email) }}
                        {{ form_row(request_form.submit) }}
                    {{ form_end(request_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
